In [1]:
# Importing Libraries/Dependencies
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.chrome.service import Service
import requests
import re
import warnings
warnings.filterwarnings("ignore")

In [3]:
#connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\reach\Downloads\chromedriver_2\chromedriver.exe")

In [4]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(6)

In [5]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

AHMEDABAD

In [6]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [7]:
df1=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df1

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Jeep Compass,12.55 Lakh,1.4 Limited,"78,151 kms",Petrol,Automatic
1,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
2,2016 Honda City,7.37 Lakh,i VTEC V,"25,542 kms",Petrol,Manual
3,2017 Renault Duster,7.50 Lakh,Petrol RXS CVT,"31,525 kms",Petrol,Automatic
4,2019 Hyundai Santro,5.48 Lakh,Sportz AMT BSIV,"20,044 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
76,2017 Maruti Ciaz,6.70 Lakh,1.4 Delta,"34,878 kms",Petrol,Manual
77,2016 Honda Jazz,6.25 Lakh,V CVT,"39,821 kms",Petrol,Automatic
78,2022 Tata Tigor,8.25 Lakh,XZ Plus,"4,337 kms",Petrol,Manual
79,2018 Honda Jazz,7.74 Lakh,VX CVT,"26,580 kms",Petrol,Automatic

In [9]:
driver.close()

BANGALORE

In [10]:
#connect to the webdriver
driver = webdriver.Chrome(r"C:\Users\reach\Downloads\chromedriver_2\chromedriver.exe")

In [11]:
url = "https://www.cardekho.com/used-cars+in+bangalore"
driver.get(url)
time.sleep(6)

In [12]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [13]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [14]:
df2=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df2

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Hyundai i20,6.44 Lakh,1.2 Spotz,"50,591 kms",Petrol,Manual
1,2015 Renault Duster,6.23 Lakh,85PS Diesel RxE,"58,858 kms",Diesel,Manual
2,2020 MG Hector Plus,20.80 Lakh,Sharp Diesel MT,"26,136 kms",Diesel,Manual
3,2019 MG Hector,16.80 Lakh,Sharp DCT,"49,961 kms",Petrol,Automatic
4,2021 Nissan Kicks,10.28 Lakh,1.5 XV,"13,542 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2019 Maruti Baleno,7.95 Lakh,1.2 Alpha,"13,000 kms",Petrol,Manual
76,2017 Ford Aspire,5.85 Lakh,1.2 Ti-VCT Titanium,"52,000 kms",Petrol,Manual
77,2012 Mahindra XUV500,7.15 Lakh,W8 FWD,"57,000 kms",Diesel,Manual
78,2018 Hyundai Creta,10.55 Lakh,1.6 SX Dual Tone,"40,000 kms",Petrol,Manual
79,2018 Mahindra Bolero Power Plus,11.25 Lakh,SLE,"12,345 kms",Diesel,Manual

In [16]:
data = [df1, df2]
  
result = pd.concat(data)
display(result)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Jeep Compass,12.55 Lakh,1.4 Limited,"78,151 kms",Petrol,Automatic
1,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
2,2016 Honda City,7.37 Lakh,i VTEC V,"25,542 kms",Petrol,Manual
3,2017 Renault Duster,7.50 Lakh,Petrol RXS CVT,"31,525 kms",Petrol,Automatic
4,2019 Hyundai Santro,5.48 Lakh,Sportz AMT BSIV,"20,044 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2019 Maruti Baleno,7.95 Lakh,1.2 Alpha,"13,000 kms",Petrol,Manual
76,2017 Ford Aspire,5.85 Lakh,1.2 Ti-VCT Titanium,"52,000 kms",Petrol,Manual
77,2012 Mahindra XUV500,7.15 Lakh,W8 FWD,"57,000 kms",Diesel,Manual
78,2018 Hyundai Creta,10.55 Lakh,1.6 SX Dual Tone,"40,000 kms",Petrol,Manual
79,2018 Mahindra Bolero Power Plus,11.25 Lakh,SLE,"12,345 kms",Diesel,Manual

In [17]:
driver.close()

In [19]:

#connect to the webdriver
driver1 = webdriver.Chrome(r"C:\Users\reach\Downloads\chromedriver_2\chromedriver.exe")

In [20]:
url = "https://www.cardekho.com/used-cars+in+mumbai"
driver1.get(url)
time.sleep(6)

In [21]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [22]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver1.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver1.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver1.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [23]:
df3=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df3

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2021 Mahindra Scorpio,18.97 Lakh,S11,"25,158 kms",Diesel,Manual
1,2016 Volkswagen Ameo,5.15 Lakh,1.2 MPI Highline,"42,297 kms",Petrol,Manual
2,2015 Hyundai i20,5.16 Lakh,Asta 1.2,"56,120 kms",Petrol,Manual
3,2018 Hyundai i20,5.88 Lakh,1.2 Spotz,"29,430 kms",Petrol,Manual
4,2019 Maruti Wagon R,5.21 Lakh,ZXI 1.2,"30,568 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2020 Kia Seltos,12.31 Lakh,GTX,"2,700 kms",Petrol,Manual
76,2020 Mahindra Thar,14.75 Lakh,AX Opt 4-Str Convert Top Diesel,"28,000 kms",Diesel,Manual
77,2019 Honda WR-V,9.20 Lakh,i-VTEC VX,"22,200 kms",Petrol,Manual
78,2014 Volkswagen Vento,4.94 Lakh,1.2 TSI Comfortline AT,"50,000 kms",Petrol,Automatic
79,2022 Mercedes-Benz E-Class,92.00 Lakh,AMG E 350d,"2,100 kms",Diesel,Automatic

In [24]:
data1 = [result, df3]
  
r1 = pd.concat(data1)
display(r1)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Jeep Compass,12.55 Lakh,1.4 Limited,"78,151 kms",Petrol,Automatic
1,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
2,2016 Honda City,7.37 Lakh,i VTEC V,"25,542 kms",Petrol,Manual
3,2017 Renault Duster,7.50 Lakh,Petrol RXS CVT,"31,525 kms",Petrol,Automatic
4,2019 Hyundai Santro,5.48 Lakh,Sportz AMT BSIV,"20,044 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2020 Kia Seltos,12.31 Lakh,GTX,"2,700 kms",Petrol,Manual
76,2020 Mahindra Thar,14.75 Lakh,AX Opt 4-Str Convert Top Diesel,"28,000 kms",Diesel,Manual
77,2019 Honda WR-V,9.20 Lakh,i-VTEC VX,"22,200 kms",Petrol,Manual
78,2014 Volkswagen Vento,4.94 Lakh,1.2 TSI Comfortline AT,"50,000 kms",Petrol,Automatic
79,2022 Mercedes-Benz E-Class,92.00 Lakh,AMG E 350d,"2,100 kms",Diesel,Automatic

In [25]:
driver1.close()

jaipur

In [28]:
#connect to the webdriver
driver2 = webdriver.Chrome(r"C:\Users\reach\Downloads\chromedriver_2\chromedriver.exe")

In [29]:
url = "https://www.cardekho.com/used-cars+in+jaipur"
driver2.get(url)
time.sleep(6)

In [30]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [31]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver2.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver2.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver2.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [32]:
df4=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df4

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2020 Toyota Innova Crysta,23.33 Lakh,2.4 ZX 7 STR,"26,341 kms",Diesel,Manual
1,2019 Kia Seltos,17.47 Lakh,GTX Plus DCT,"28,655 kms",Petrol,Automatic
2,2020 Nissan Kicks,10.23 Lakh,1.3 Turbo XV,"16,105 kms",Petrol,Manual
3,2021 Hyundai Grand i10 Nios,8.10 Lakh,AMT Sportz,"5,029 kms",Petrol,Automatic
4,2017 Hyundai EON,3.05 Lakh,D Lite Plus,"1,12,341 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2018 BMW X3,46.00 Lakh,xDrive 20d Luxury Line,"17,000 kms",Diesel,Automatic
76,2019 BMW X1,32.00 Lakh,sDrive 20d xLine,"24,000 kms",Diesel,Automatic
77,2021 BMW X1,45.00 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
78,2016 Porsche Cayenne,60.00 Lakh,Diesel Platinum Edition,"50,000 kms",Diesel,Automatic
79,2022 Audi A4,42.00 Lakh,Premium Plus,"2,700 kms",Petrol,Automatic

In [33]:
data2 = [r1,df4]
r2 = pd.concat(data2)
display(r2)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Jeep Compass,12.55 Lakh,1.4 Limited,"78,151 kms",Petrol,Automatic
1,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
2,2016 Honda City,7.37 Lakh,i VTEC V,"25,542 kms",Petrol,Manual
3,2017 Renault Duster,7.50 Lakh,Petrol RXS CVT,"31,525 kms",Petrol,Automatic
4,2019 Hyundai Santro,5.48 Lakh,Sportz AMT BSIV,"20,044 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2018 BMW X3,46.00 Lakh,xDrive 20d Luxury Line,"17,000 kms",Diesel,Automatic
76,2019 BMW X1,32.00 Lakh,sDrive 20d xLine,"24,000 kms",Diesel,Automatic
77,2021 BMW X1,45.00 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
78,2016 Porsche Cayenne,60.00 Lakh,Diesel Platinum Edition,"50,000 kms",Diesel,Automatic
79,2022 Audi A4,42.00 Lakh,Premium Plus,"2,700 kms",Petrol,Automatic

In [34]:
driver2.close()

# Gurgoan

In [36]:
#connect to the webdriver
driver3 = webdriver.Chrome(r"C:\Users\reach\Downloads\chromedriver_2\chromedriver.exe")

In [37]:
url = "https://www.cardekho.com/used-cars+in+gurgaon"
driver3.get(url)
time.sleep(6)

In [38]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [39]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver3.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver3.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver3.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [40]:
df5=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df5

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2020 Hyundai Santro,5.96 Lakh,Sportz CNG,"39,418 kms",CNG,Manual
1,2018 Renault Captur,7.45 Lakh,1.5 Petrol RXL,"15,245 kms",Petrol,Manual
2,2020 Maruti Vitara Brezza,10.50 Lakh,ZXI,"26,278 kms",Petrol,Manual
3,2020 Tata Altroz,6.15 Lakh,XM,"43,016 kms",Petrol,Manual
4,2018 Maruti Baleno,7.19 Lakh,1.2 Alpha,"9,541 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2021 Kia Seltos,14.50 Lakh,HTK Plus D,"16,000 kms",Diesel,Manual
76,2020 Kia Seltos,18.00 Lakh,GTX Plus,"24,000 kms",Petrol,Manual
77,2015 Ford Ecosport,5.75 Lakh,1.5 Ti VCT AT Titanium,"55,000 kms",Petrol,Automatic
78,2014 Mercedes-Benz S-Class,51.50 Lakh,S 350 d,"13,000 kms",Diesel,Automatic
79,2016 Mercedes-Benz S-Class,55.00 Lakh,S 350 d,"75,000 kms",Diesel,Automatic

In [42]:
data3= [r2, df5]
  
r3 = pd.concat(data3)
display(r3)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Jeep Compass,12.55 Lakh,1.4 Limited,"78,151 kms",Petrol,Automatic
1,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
2,2016 Honda City,7.37 Lakh,i VTEC V,"25,542 kms",Petrol,Manual
3,2017 Renault Duster,7.50 Lakh,Petrol RXS CVT,"31,525 kms",Petrol,Automatic
4,2019 Hyundai Santro,5.48 Lakh,Sportz AMT BSIV,"20,044 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2021 Kia Seltos,14.50 Lakh,HTK Plus D,"16,000 kms",Diesel,Manual
76,2020 Kia Seltos,18.00 Lakh,GTX Plus,"24,000 kms",Petrol,Manual
77,2015 Ford Ecosport,5.75 Lakh,1.5 Ti VCT AT Titanium,"55,000 kms",Petrol,Automatic
78,2014 Mercedes-Benz S-Class,51.50 Lakh,S 350 d,"13,000 kms",Diesel,Automatic
79,2016 Mercedes-Benz S-Class,55.00 Lakh,S 350 d,"75,000 kms",Diesel,Automatic

In [43]:
driver3.close()

DELHI NCR

In [44]:
#connect to the webdriver
driver4 = webdriver.Chrome(r"C:\Users\reach\Downloads\chromedriver_2\chromedriver.exe")

In [45]:
url = "https://www.cardekho.com/used-cars+in+delhi-ncr"
driver4.get(url)
time.sleep(6)

In [46]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [47]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver4.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver4.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver4.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [48]:
df6=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df6

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2020 Hyundai Santro,5.96 Lakh,Sportz CNG,"39,418 kms",CNG,Manual
1,2018 Renault Captur,7.45 Lakh,1.5 Petrol RXL,"15,245 kms",Petrol,Manual
2,2020 Maruti Vitara Brezza,10.50 Lakh,ZXI,"26,278 kms",Petrol,Manual
3,2020 Tata Altroz,6.15 Lakh,XM,"43,016 kms",Petrol,Manual
4,2018 Maruti Baleno,7.19 Lakh,1.2 Alpha,"9,541 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2013 BMW 7 Series,20.95 Lakh,730Ld,"85,000 kms",Diesel,Automatic
76,2015 Mini Cooper,24.90 Lakh,S,"20,000 kms",Petrol,Automatic
77,2020 Toyota Innova Crysta,20.75 Lakh,2.4 GX AT,"12,000 kms",Diesel,Automatic
78,2015 Mercedes-Benz C-Class,20.75 Lakh,C 220 CDI Avantgarde,"65,000 kms",Diesel,Automatic
79,2014 Jaguar XF,18.99 Lakh,2.2 Litre Luxury,"65,000 kms",Diesel,Automatic

In [50]:
data4 = [r3, df6]
  
r4 = pd.concat(data4)
display(r4)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Jeep Compass,12.55 Lakh,1.4 Limited,"78,151 kms",Petrol,Automatic
1,2017 Hyundai i20,6.64 Lakh,Asta 1.4 CRDi,"85,483 kms",Diesel,Manual
2,2016 Honda City,7.37 Lakh,i VTEC V,"25,542 kms",Petrol,Manual
3,2017 Renault Duster,7.50 Lakh,Petrol RXS CVT,"31,525 kms",Petrol,Automatic
4,2019 Hyundai Santro,5.48 Lakh,Sportz AMT BSIV,"20,044 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2013 BMW 7 Series,20.95 Lakh,730Ld,"85,000 kms",Diesel,Automatic
76,2015 Mini Cooper,24.90 Lakh,S,"20,000 kms",Petrol,Automatic
77,2020 Toyota Innova Crysta,20.75 Lakh,2.4 GX AT,"12,000 kms",Diesel,Automatic
78,2015 Mercedes-Benz C-Class,20.75 Lakh,C 220 CDI Avantgarde,"65,000 kms",Diesel,Automatic
79,2014 Jaguar XF,18.99 Lakh,2.2 Litre Luxury,"65,000 kms",Diesel,Automatic

In [51]:
driver4.close()

Saving the data

In [52]:
r4.to_excel("Used_Cars_Data.xlsx")

In [53]:
r4.to_csv("Used_Cars_Data.csv")